

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CESWA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
      <div *ngIf="ulogin!=true">
        <button type="button" routerLink="register"> Bireysel Kayıt</button>
    </div>
    <div *ngIf="ulogin!=true">
      <button type="button" routerLink="corporate/register"> Kurumsal Kayıt</button>
  </div>
    <div *ngIf="ulogin!=true" class="nav-item">
      <button  routerLink="login" class="btn btn-outline-success">Giriş</button>
    </div>
    <div *ngIf="ulogin==true" class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Hesabım
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="user/info" >Hesap Bilgilerim</a></li>
        <li><a class="dropdown-item" routerLink="user/change-password" >Şifre Değiştirme</a></li>
        <li><a class="dropdown-item" type="button" (click)="logOut()" >Çıkış Yap</a></li>
      </ul>
      </div>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success"  type="submit">Search</button>
      </form> -->
    </div>
  </nav>