.modal-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .modal-body .form-control {
    margin-bottom: 1rem;
  }
  
  .modal-footer {
    justify-content: space-between;
  }
  
  .modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .modal-footer .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .modal-footer .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  